/* ------- Format Navbar ------------*/

.navbar {
    -webkit-box-shadow: 0 3px 6px -6px black;
    -moz-box-shadow: 0 3px 6px -6px black;
    box-shadow: 0 3px 6px -6px black;
    overflow: hidden;
    position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    width: 100%; /* Full width 999*/
}


nav {
    z-index: 5;
}


nav .navbar-nav li {
    padding-right:20px;
}

nav .navbar-nav li a{
    text-decoration: underline solid transparent;
    transition: text-decoration 1s ease;
    text-decoration-thickness: 0.1em;
    text-underline-offset: 0.5em;
    font-weight:bold;
    color: black !important;
    font-size: 15px;
    opacity: 1;
    transition: 1s;
}

nav .navbar-nav li a:hover{
    font-weight:bold;
    color: black !important;
    text-decoration: underline;
    text-decoration-thickness: 0.1em;
    text-underline-offset: 0.5em;
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 255, 255, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}


/* Change the link color on hover */
li a:hover {
    -moz-border-radius-topleft: 10px;
    -moz-border-radius-topright: 10px;
    -moz-border-radius-bottomright: 10px;
    -moz-border-radius-bottomleft: 10px;
    -webkit-border-radius: 10px 10px 10px 10px;
    border-radius: 10px 10px 10px 10px;
    background-color: #c5e3fc;
}


/* ---------------------------------------*/

html,
body {
    
    height: 100%;
    margin: 0;
}

html {
    background-color: rgb(235,235,235);
    font-family: 'Oxygen';
}


/* body {
/*     background-image: url('background.jpg'); */
    background-color: transparent;
/*     background-size: 100% 100%; */
    padding: 0;
    opacity: 0;
    transition: opacity 2s;
/* } */


.colinfo {
    -moz-border-radius-topleft: 20px;
    -moz-border-radius-topright: 20px;
    -moz-border-radius-bottomright: 20px;
    -moz-border-radius-bottomleft: 20px;
    -webkit-border-radius: 20px 20px 20px 20px;
    border-radius: 20px 20px 20px 20px;
    background-color: white;
    box-shadow: 10px 10px 8px #888888;
}

.info {
    text-align:left;  
    font-family: 'Oxygen';
    font-weight:bold;
}

.content {
    font-size:20px;
    margin:40px;
}

.btn-primary {
    color: white;
    background-color:#5a9ed6;
    border-color:#5a9ed6;
}

.btn-primary:hover {
    background-color:#005ca6;
    border-color:#005ca6;
}


/* ------- Format Footer ---------*/

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    padding-top:5px;
    padding-bottom:0px;
    width: 100%;
    background-color: white;
    opacity:1;
    color: black;
    text-align: center;
    font-family: 'Oxygen';
    height: 35px;
/*     -webkit-box-shadow: 0px -1px 1px 0px #888888;
    -moz-box-shadow: 0px -1px 1px 0px #888888;
    box-shadow: 0px -1px 1px 0px #888888; */
}


/* ------- Adjust for Small Screen ---------*/

@media (max-width: 1200px) {
    
    
    nav.navbar {
        background-color:white;
    }
    
    
    .navbar-brandsecondary {
        color:transparent;
        font-family: 'Oxygen';
        font-size:0px;
    }
    
    a {
        color:rgb(91, 192, 222);
    }
    
    .navbar-collapse {
        text-align:center;
    }
    
    .info {
        text-align:center;
    }
    
}