.skills {
    font-size:3px;
  text-align: right; /* Right-align text */
  padding-top: 0px; /* Add top padding */
  padding-bottom: 0px; /* Add bottom padding */
    margin:20px;
    margin-top:0px;
    margin-left:50px;
    margin-right:50px;
  color: #1E90FF; /* White text color */
    background-color: #dcdcdc;
    border-radius: 10px;
}

.twofifths {width: 25%; background-color: #1E90FF; border-radius: 10px; border: 6px solid #dcdcdc;}
.threefifths {width: 50%; background-color: #1E90FF; border-radius: 10px; border: 6px solid #dcdcdc;}
.fourfifths {width: 75%; background-color: #1E90FF; border-radius: 10px; border: 6px solid #dcdcdc;}
.one {width: 100%; background-color: #1E90FF; border-radius: 10px; border: 6px solid #dcdcdc;}


/* ------- Format Navbar ------------*/
background-image {
    -webkit-background-size: cover;
     -moz-background-size: cover;
     -o-background-size: cover;
    background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
/* 	background-size: fill; */
    background-image: url('background.png');	
	z-index: -3;
    opacity: 1;
}

a img {
    position: relative;
    padding:0px;
    top: 0;
    transition: top ease 1s;
    margin-bottom:15px;
    transition: 0.5s;
/*     border: 1px solid #c5c5c5; */
    border-radius: 5px;
    height: 230px; 
    width: 355px;
}

a img:hover{ 
    -webkit-box-shadow: 0 10px 8px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 10px 8px rgba(0, 0, 0, 0.2);
    box-shadow: 0 10px 8px rgba(0, 0, 0, 0.2);
    top: -10px;
}

a h4 { 
    color:black;
    transition: 0.5s;
}

a h4:hover{ 
    color:#1E90FF;
}



.navbar {
    -webkit-box-shadow: 0 3px 25px 0px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 3px 25px 0px rgba(0, 0, 0, 0.2);
    box-shadow: 0 3px 6px 25px 0px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    width: 100%; /* Full width 999*/
    background-color:white;
}


nav {
    z-index: 5;
}


nav .navbar-nav li {
    margin:0px;
    padding-top:6px;
    padding-bottom:6px;
    padding-right:0px;
    padding-left:0px;
}

nav .navbar-nav li a{
    text-decoration: underline solid transparent;
    transition: text-decoration 0.5s ease;
    text-decoration-thickness: 0.1em;
    text-underline-offset: 0.5em;
/*     font-weight:bold; */
    color: black !important;
    font-size: 12px;
    opacity: 1;
    transition: 0.5s;
}

nav .navbar-nav li a:hover{
/*     font-weight:bold; */
    color: #1E90FF !important;
    text-decoration: underline;
    text-decoration-thickness: 0.1em;
    text-underline-offset: 0.5em;
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 255, 255, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}


/* Change the link color on hover */
/* li a:hover {
    -moz-border-radius-topleft: 10px;
    -moz-border-radius-topright: 10px;
    -moz-border-radius-bottomright: 10px;
    -moz-border-radius-bottomleft: 10px;
    -webkit-border-radius: 10px 10px 10px 10px;
    border-radius: 10px 10px 10px 10px;
    background-color: #c5e3fc;
} */


/* ---------------------------------------*/

html {
    
    height: 100%;
    margin: 0;
}

html, body {
    -webkit-background-size: cover;
     -moz-background-size: cover;
     -o-background-size: cover;
    background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
    background-image: url('https://webgradients.com/public/webgradients_png/051%20February%20Ink.png');
    font-family: 'Poppins', sans-serif;
    overflow-x: hidden;
}


/* body {
/*     background-image: url('background.jpg'); */
/*     background-color: transparent; */
/*     background-size: 100% 100%; */
/*    padding: 0;
    opacity: 0;
    transition: opacity 2s;
}
 */

/* .colinfo {
    -moz-border-radius-topleft: 20px;
    -moz-border-radius-topright: 20px;
    -moz-border-radius-bottomright: 20px;
    -moz-border-radius-bottomleft: 20px;
    -webkit-border-radius: 20px 20px 20px 20px;
    border-radius: 20px 20px 20px 20px;
     background-color: white;
    box-shadow: 10px 10px 8px #888888;
} */

.colinfo2 {
    border-left: 2px solid #1E90FF;
}

.info {
    text-align:left;  
/*     font-family: 'Oxygen'; */
    font-weight:bold;
}

.content {
    font-size:20px;
    margin:40px;
}

.btn-primary {
    color: white;
    background-color: #1E90FF ;
    border-color:#5a9ed6;
    position: relative;
    top: 0;
    transition: top ease 1s;
    transition: 0.5s;
    border-radius:0px;
}

.btn-primary:hover {
    background-color:#005ca6;
    border-color:#005ca6;
    -webkit-box-shadow: 0 3px 15px 0px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 3px 15px 0px rgba(0, 0, 0, 0.2);
    box-shadow: 0 3px 6px 15px 0px rgba(0, 0, 0, 0.2);
    top: -5px;
}


/* ------- Format Footer ---------*/

.footer {
/*     position: fixed; */
    left: 0;
    right:0;
    bottom: 0;
    padding:100px;
    width: 100%;
    opacity:1;
    margin:0px;
/*     font-family: 'Oxygen'; */
/*     height: 35px; */
/*     -webkit-box-shadow: 0px -1px 1px 0px #888888;
    -moz-box-shadow: 0px -1px 1px 0px #888888;
    box-shadow: 0px -1px 1px 0px #888888; */
}


.bleh {
    margin-bottom:0px; 
    margin-top:60px; 
    background-color: rgba(250,250,250,0.95); 
    padding:100px; 
    padding-left:180px; 
    padding-right:180px;
}

.bleh2 {
    margin-bottom:0px; 
    margin-top:60px; 
    background-color: rgba(250,250,250,0.95); 
    padding:100px; 
    padding-left:180px; 
    padding-right:180px;
}

.duh {
    padding-bottom:10px; 
    padding-top:150px;
}

.huzah {
    border-right: 1px solid #6d6d6d;
    text-align: right;
    color: #6d6d6d;
}

.huzah2 {
    text-align: left;
    color: #6d6d6d;
}

.icons {
    font-size:35px;
    color:#6d6d6d;
}

.icons:hover {
    color:#1E90FF;
}

.icons2 {
    font-size:200px; 
    width: 100% !important;
    height: 100% !important;
    padding:80px; 
    background-color:white; 
    color:#1E90FF;
    transition:0.5s;
    border-radius:5px;
    opacity: 0.75;
}

.icons2:hover {
    background-color:#1E90FF; 
    color:white;
    -webkit-box-shadow: 0 3px 15px 0px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 3px 15px 0px rgba(0, 0, 0, 0.2);
    box-shadow: 0 3px 6px 15px 0px rgba(0, 0, 0, 0.2);

}



.ints {
    padding:50px;
}


* {
  box-sizing: border-box;
}

/* Set a background color */
/* body {
  background-color: #474e5d;
  font-family: Helvetica, sans-serif;
} */

/* The actual timeline (the vertical ruler) */
.timeline {
  position: relative;
  max-width: 1200px;
  margin: 0 auto;
}

/* The actual timeline (the vertical ruler) */
.timeline::after {
  content: '';
  position: absolute;
  width: 2px;
  background-color: #e9e9e9;
  top: 0;
  bottom: 0;
  left: 50%;
  margin-left: 0px;
}

/* Container around content */
.containerp {
  padding: 0px 20px;
  position: relative;
  background-color: inherit;
  width: 50%;
    
}

/* The circles on the timeline */
.containerp::after {
  content: '';
  position: absolute;
  width: 22px;
  height: 22px;
  right: -12px;
  background-color: #1E90FF;
  border: 6px solid #e9e9e9;
  top: 100px;
  border-radius: 50%;
  z-index: 1;
}

/* Place the container to the left */
.left {
  left: 0;
}

/* Place the container to the right */
.right {
  left: 50%;
}

/* Add arrows to the left container (pointing right) */
/* .left::before {
  content: " ";
  height: 0;
  position: absolute;
  top: 22px;
  width: 0;
  z-index: 1;
  right: 30px;
  border: medium solid white;
  border-width: 10px 0 10px 10px;
  border-color: transparent transparent transparent white;
} */

/* Add arrows to the right container (pointing left) */
/* .right::before {
  content: " ";
  height: 0;
  position: absolute;
  top: 22px;
  width: 0;
  z-index: 1;
  left: 30px;
  border: medium solid white;
  border-width: 10px 10px 10px 0;
  border-color: transparent white transparent transparent;
}
 */
/* Fix the circle for containers on the right side */
.right::after {
  left: -11px;
}

/* The actual content */
.content {
  padding: 10px 30px;
  background-color: white;
  position: relative;
  border-radius: 1px;
    -webkit-box-shadow: 0 8px 15px 0px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: 0 8px 15px 0px rgba(0, 0, 0, 0.05);
    box-shadow: 0 8px 15px 0px rgba(0, 0, 0, 0.05);
}

a.navbar-brand {
    padding:0px; 
    padding-left:150px; 
    color:black; 
    font-size: 24px; 
    font-weight:bold; 
    display: inline-block;
}











/* ------- Adjust for Small Screen ---------*/

@media (max-width: 1200px) {
    
        .ints{
            padding:20px;
        }

        .colinfo2 {
            text-align:left;
        }

        /* Place the timelime to the left */
          .timeline::after {
            left: 31px;
        }

        /* Full-width containers */
          .containerp {
            width: 100%;
            padding-left: 70px;
            padding-right: 25px;
          }

        /* Make sure that all arrows are pointing leftwards */
          .containerp::before {
            left: 60px;
            border: medium solid white;
            border-width: 10px 10px 10px 0;
            border-color: transparent white transparent transparent;
          }

        /* Make sure all circles are at the same spot */
          .left::after, .right::after {
            left: 20px;
          }

        /* Make all right containers behave like the left ones */
          .right {
            left: 0%;
          }

            a.navbar-brand {
                padding-left:0px;
            }

            a img {
                max-width:100%;
                max-height:100%;
                object-fit: contain;
            }
    
            a img:hover{ 
                -webkit-box-shadow: 0 10px 8px rgba(0, 0, 0, 0);
                -moz-box-shadow: 0 10px 8px rgba(0, 0, 0, 0);
                box-shadow: 0 10px 8px rgba(0, 0, 0, 0);
                top: 0px;
            }


            .huzah {
                border-right: 0px solid #6d6d6d;
                text-align: center;
            }

            .huzah2 {
                text-align: center;
            }


            nav.navbar {
                background-color:white;
            }

            .duh {
                padding-top:80px;
            }

            .bleh {
                padding-left:75px;
                padding-right:75px;
            }
            .bleh2 {
                padding-left:0px;
                padding-right:0px;
            }

            .navbar-brandsecondary {
                color:transparent;
        /*         font-family: 'Oxygen'; */
                font-size:0px;
            }

            a {
                color:rgb(91, 192, 222);
            }

            .navbar-collapse {
                text-align:center;
            }

            .info {
                text-align:center;
            }
    
}